- var css = require('./opensource-css.json');

section.section
  h1.title Cria ou participa de projetos open source através do Github ou similares?

  article.chart
    canvas.canvas(width='300' height='300' data-chart='opensource')
