// --------------------------------------------------
// Introduction
// --------------------------------------------------

@import '../../styles/core'

.host
  font-size 3rem
  padding $space-lg $space $space-xlg
  text-align center

.big
  display block
  font-size 5em

.green
  color $green

.yellow
  color $yellow
