// --------------------------------------------------
// Introduction
// --------------------------------------------------

@import '../../styles/core';

.host
  padding $space-lg $space
  font-size 3rem
  text-align center

.big
  display block
  font-size 5em

.green
  color $green

.yellow
  color $yellow
