- var css = require('./salary-css.json');

section(class=css.host) 
  h1(class=css.title) Considerando apenas sua ocupação principal (CLT, PJ ou Freela), qual sua faixa salárial?

  article(class=css.chart)
    canvas(class=css.canvas width='300' height='300' data-chart='salary')
