- var css = require('./salary-css.json');

section.section 
  h1.title Considerando apenas sua ocupação principal (CLT, PJ ou Freela), qual sua faixa salárial?

  article.chart
    canvas.canvas(width='300' height='300' data-chart='salary')
