// -------------------------------------------------
// Region
// -------------------------------------------------

@import '../../styles/core';

.host
  background-color $gray-white
  padding $space-lg $space
  font-size 3rem
  text-align center

.title
  display block
  font-size 1em
  font-weight normal
