- var css = require('./region-css.json');

section(class=css.host)
  h1(class=css.title) Você mora em qual estado?

  article(class=css.chart)
    canvas(class=css.canvas width='300' height='300' data-chart='region')
