- var css = require('./backend-css.json');

section.section
  h1.title Participa ou é responsável pelo desenvolvimento Back-end?

  article.chart
    canvas.canvas(width='300' height='300' data-chart='backend')
