- var css = require('./freelas-css.json');

section.section
  h1.title Caso faça freelas como trabalho secundário, em média quanto recebe mensalmente?

  article.chart-doughnut
    canvas.canvas(width='300' height='300' data-chart='freelas')
