- var css = require('./freelas-css.json');

section(class=css.host) 
  h1(class=css.title) Caso faça freelas como trabalho secundário, em média quanto recebe mensalmente?

  article(class=css.chart)
    canvas(class=css.canvas width='300' height='300' data-chart='freelas')
