- var css = require('./level-css.json');

section.section 
  h1.title Qual seu nível profissional? (Segundo seu julgamento ou o nível em que está registrado)

  article.chart
    canvas.canvas(width='300' height='300' data-chart='level')