// --------------------------------------------------
// Footer
// --------------------------------------------------

@import '../../styles/core';

.host
  align-items center
  background $gray-darker
  color $white
  display flex
  font-size 1.6rem
  height $footer-height
  justify-content center
  padding $space-xs

.link
  color $blue-light
  text-decoration none

  &:focus
  &:hover
    text-decoration underline
