- var css = require('./footer-css.json');

footer(class=css.host role='dialog')
  p(class=css.description)
    | Feito com ❤ por #[a(class=css.link href='https://twitter.com/frontendbr' target='_blank' rel='noopener noreferrer') Front-end BR]

